.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.page-header {
  background: var(--white, #fff);
}

.logotype {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logotype-studio {
  color: var(--navyblue, #2e2f42);
}

.menu-link {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.contacts {
  font-style: normal;
}

.contacts-list-link {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.section-one {
  background: var(--navyblue, #2e2f42);
}

.section-one-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
}

.button-section-one {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.section-two {
  background: #fff;
}

.section-two-item-title {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.section-two-text {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.section-three {
  background: var(--cloud, #f4f4fd);
}

.section-three-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-three-item {
  background-color: #ffffff;
}

.section-three-item-title {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.section-three-text {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.section-four {
  background: #fff;
}

.section-four-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-four-item-title {
  color: var(--navyblue, #2e2f42);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.section-four-text {
  color: var(--slate, #434455);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer {
  background: var(--navyblue, #2e2f42);
}

.footer-logotype {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logotype-studio {
  color: var(--cloud, #f4f4fd);
}

.footer-text {
  color: var(--cloud, #f4f4fd);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
